---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="About - Bear Roll">
  <PageHeader slot="header" title="About" />
  <main class="flex flex-col gap-4">
    <article class="flex flex-col gap-4">
      <p>A daily view of Bear Blog discover feed top posts.</p>
      <p>
        I love the Bear Blog <a
          href="https://bearblog.dev/discover"
          class="text-link underline">discover page</a
        >! But if you don't visit it every day you can miss things. And if you
        visit it too much you can lose track of what you've read.
      </p>
      <p>
        So I built Bear Roll, a daily view of the top posts from Bear Blog's
        discover feed.
      </p>
      <p>
        Inspired by <a href="https://hckrnews.com" class="text-link underline"
          >hckrnews.com</a
        >, which solves the same problem for Hacker News.
      </p>
      <p>
        It's a static <a href="https://astro.build" class="text-link underline"
          >Astro</a
        > site hosted on GitHub Pages. It regularly runs a script that grabs the first
        5 pages of discover (100 posts) and stores them in dated JSON files. This
        means it doesn't contain all posts, just the ones that reach the first 5 pages
        of discover. The source code and data is on <a
          href="https://github.com/joshuarichards001/bearroll"
          class="text-link underline">GitHub</a
        > if you're curious.
      </p>
      <p>
        If you have any questions or requests, please email me at <a
          href="mailto:hello@josh.work"
          class="text-link underline">hello@josh.work</a
        >
      </p>
    </article>
    <nav class="flex gap-4">
      <a href="/archive" class="text-xs text-muted underline">archive</a>
      <a href="/stats" class="text-xs text-muted underline">stats</a>
      <a href="https://bearroll.bearblog.dev" class="text-xs text-muted underline">blog</a>
    </nav>
  </main>
</Layout>
