---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="About - Bear Roll">
  <PageHeader slot="header" title="About" />
  <main class="flex flex-col gap-4">
    <article class="flex flex-col gap-8">
      <p>
        I'm a fan of Bear Blog's <a
          href="https://bearblog.dev/discover"
          class="text-link underline">discover page</a
        >, but I had two challenges with it. If I missed a day, good posts would
        disappear off the front page before I saw them. And if I checked too
        often, I couldn't tell what was new. Basically the same problems that <a
          href="https://hckrnews.com"
          class="text-link underline">hckrnews.com</a
        > solves for Hacker News.
      </p>
      <p>
        So I built Bear Roll, a chronological archive of what the Bear Blog
        community has been reading and toasting.
      </p>
      <p>
        It's a static <a href="https://astro.build" class="text-link underline"
          >Astro</a
        > site hosted on GitHub Pages. Every day at midnight UTC a script grabs the
        first 5 pages of discover (100 posts) and stores them in dated JSON files.
        This means it doesn't contain all posts, just the ones that reach the first
        5 pages of discover. The source code and data is on <a
          href="https://github.com/joshuarichards001/bearroll"
          class="text-link underline">GitHub</a
        > if you're curious.
      </p>
      <p>
        If you have any questions or requests, please email me at <a
          href="mailto:hello@josh.work"
          class="text-link underline">hello@josh.work</a
        >
      </p>
    </article>
  </main>
</Layout>
